.forecast {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.forecast-day {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0.5rem;
  font-weight: bold;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

