.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #275a82;
  color: rgb(255, 255, 255);
  padding: 0 1.5rem;
  position: fixed;
  height: 5rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  /* border-bottom: 1px solid rgb(215, 215, 215); */
}

.header-title h1{
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

/* .header-bg-mode{
  display: flex;
  align-items: center;
  gap: 8px;
  background: #c0c0c0;
  border-radius: 25px;
  padding: 10px 20px;
} */