.search{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 40px;
  /* background: red; */
  /* max-width: 800px; */
}

.search input{
  width: 100%;
  padding: 10px 27px;
  border-radius: 25px;
  border: none;
  font-size: .8rem;
  background: #d3d3d3;
  color: #000000;
  outline: none;
}

.search-icon{
  color: #000000;
  cursor: pointer;
  margin-left: -30px;
}


/* @media (min-width:1024px) {
  .search{
    padding: 40px 50px;
  }
} */
