:root {
  font-family: "Quicksand", monospace, sans-serif;
  color: black;
}
 
*{
  margin: 0;
  padding: 0;
}

body{
  /* background: linear-gradient(to bottom,#ffffff 0%, #7cb9ef 100%); */
  background: #b3cee6;
  margin: 80px 40px;
  box-sizing: border-box
}


@media (min-width:768px) {
  body{
    margin: 80px auto;
    max-width: 400px;
  }
}

@media (min-width:1024px) {
  body{
    margin: 80px auto;
    max-width: 1000px;
  }
}